---
import NavProyects from "../components/NavProyects.astro";
import MainLayout from "../layout/MainLayout.astro";
import Todos from "./todos.astro";
---
<MainLayout title="Proyectos">

<div class="flex flex-col gap-3 w-full justify-center items-centerp-2 bg-[#0f3a47] p-2 ">
<NavProyects />
<div>

<Todos />
</div>
</div>

 </MainLayout>
