---

---

<div class="flex justify-center items-center p-3 bg-[#0f3a47] ">

    <nav class="flex gap-5 text-gray-800  rounded-2xl bg-gray-200 p-3 ">
    <ul class="flex gap-4 text-gray-800 ">
        <li class="bg-transparent  p-2 rounded-xs border border-slate-400  hover:bg-slate-800 transition "><a class="text-slate-500 hover:text-slate-100" href="/proyects">Todos</a></li>
        <li class="bg-transparent  p-2 rounded-xs border border-slate-400  hover:bg-slate-800 transition "><a class="text-slate-500 hover:text-slate-100" href="/siteswebs">Web Sites</a></li>
        <li class="bg-transparent  p-2 rounded-xs border border-slate-400  hover:bg-slate-800 transition "><a class="text-slate-500 hover:text-slate-100" href="/appswebs">Webs Apps</a></li>
    </ul>
</nav>

</div>