---
import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/navBar.astro";
import "../styles/global.css"
import Footer from "../components/footer.astro";
interface Props {
    title?: string;
    description?: string;

}

const { title, description } = Astro.props;
---

<html>
    <head>  
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
    <NavBar />
    <!-- Logo centrado solo en móvil/tablet -->
    <div class="w-full flex justify-center block md:hidden bg-gray-200">
        <img src="../public/logo1.png" alt="logo" class="w-auto h-30" />
    </div>
    <main class="">
        <slot />
     </main>
     <Footer/>
    </body>
</html>
